@{
    ViewData["Title"] = "Home Page";
}

<div class="fill">
  <div class="jumbotron">
    <h5>Gedanken map auf geile poi</h5> 
    <div id="map" style="min-height: 400px"></div>
  </div>
</div>

<script src="~/lib/google-maps/lib/Google.min.js"></script>
<script src="~/js/poiMap.js" asp-append-version="true"></script>
<script> showPoisOnMap('@Url.Action("Pois")'); </script>
